@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;

	var siteConfiguration = Umbraco.Content(1168);
        
    var logoText = siteConfiguration.Value<string>("logoText");;
    
    var logoFooterSrc = siteConfiguration.Value<string>("footerLogo");
    
    var logoHeaderSrc = siteConfiguration.Value<string>("headerLogo");
    
    
    var umbracoUrlName = Model.HasProperty("umbracoUrlName") && Model.HasValue("umbracoUrlName") ? Model.Value<string>("umbracoUrlName") : "";
    umbracoUrlName = umbracoUrlName?.ToLower();
    
    var pageCustomCss = Model.HasProperty("pageCustomCss") && Model.HasValue("pageCustomCss") ? Model.Value<string>("pageCustomCss") : "";
    var pageClassName = Model.HasProperty("pageClassName") && Model.HasValue("pageClassName") ? Model.Value<string>("pageClassName") : "";
    pageClassName = pageClassName.IsNullOrWhiteSpace() ? umbracoUrlName : pageClassName;
    
    var facebook = siteConfiguration.HasProperty("facebook") && siteConfiguration.HasValue("facebook") ? siteConfiguration.Value<string>("facebook") : "";

    var instagram = siteConfiguration.HasProperty("instagram") && siteConfiguration.HasValue("instagram") ? siteConfiguration.Value<string>("instagram") : "";
    var linkedIn = siteConfiguration.HasProperty("linkedIn") && siteConfiguration.HasValue("linkedIn") ? siteConfiguration.Value<string>("linkedIn") : "";

    
    var footerNav1Title = siteConfiguration.HasProperty("footerNav1Title") && siteConfiguration.HasValue("footerNav1Title") ? siteConfiguration.Value<string>("footerNav1Title") : "";
    var footerNav2Title = siteConfiguration.HasProperty("footerNav2Title") && siteConfiguration.HasValue("footerNav2Title") ? siteConfiguration.Value<string>("footerNav2Title") : "";
    
    IEnumerable<Link> footerNav1Items = siteConfiguration.HasProperty("footerNav1") && siteConfiguration.HasValue("footerNav1") ? siteConfiguration.Value<IEnumerable<Link>>("footerNav1") : new Link[] {};
    IEnumerable<Link> footerNav2Items = siteConfiguration.HasProperty("footerNav2") && siteConfiguration.HasValue("footerNav2") ? siteConfiguration.Value<IEnumerable<Link>>("footerNav2") : new Link[] {};
    
    var organizationName = siteConfiguration.HasProperty("organizationName") && siteConfiguration.HasValue("organizationName") ? siteConfiguration.Value<string>("organizationName") : "";
    var organizationAddress1 = siteConfiguration.HasProperty("address1") && siteConfiguration.HasValue("address1") ? siteConfiguration.Value<string>("address1") : "";
    var organizationCity = siteConfiguration.HasProperty("city") && siteConfiguration.HasValue("city") ? siteConfiguration.Value<string>("city") : "";
    var organizationState = siteConfiguration.HasProperty("state") && siteConfiguration.HasValue("state") ? siteConfiguration.Value<string>("state") : "";
    var organizationPostalCode = siteConfiguration.HasProperty("postalCode") && siteConfiguration.HasValue("postalCode") ? siteConfiguration.Value<string>("postalCode") : "";

}


<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <!-- Viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">

   @await Umbraco.RenderMacroAsync("SiteMetaData")


  <!-- Webmanifest + Favicon / App icons -->
  <link rel="manifest" href="/manifest.json">

  <!-- Theme switcher (color modes) -->
  <script src="/theme/assets/js/theme-switcher.js"></script>

  <!-- Import Google font (Inter) -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&amp;display=swap" rel="stylesheet" id="google-font">

  <!-- Vendor styles -->
  <link rel="stylesheet" media="screen" href="/theme/assets/vendor/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" media="screen" href="/theme/assets/vendor/simplebar/dist/simplebar.min.css">

  <!-- Font icons -->
  <link rel="stylesheet" href="/theme/assets/icons/around-icons.min.css">

  <!-- Theme styles + Bootstrap -->
  <link rel="stylesheet" media="screen" href="/theme/assets/css/theme.css">

  <link rel="stylesheet" media="screen" href="/theme/pageloading.css">

  @RenderSection("CustomCSS", false)

  <style>
    .navbar.navbar-stuck {
        border-bottom: 1px solid #eee;
    }
      @pageCustomCss
  </style>

  <style>
    .navbar-nav-svg {
      display: inline-block;
      vertical-align: -.125rem;
    }
  </style>

  <!-- Page loading scripts -->
  <script>
    (function () {
      window.onload = function () {
        const preloader = document.querySelector('.page-loading')
        preloader.classList.remove('active')
        setTimeout(function () {
          preloader.remove()
        }, 1500)
      }
    })()
  </script>


</head>


<body class="@pageClassName">


  <!-- Page loading spinner -->
  <div class="page-loading active">
    <div class="page-loading-inner">
      <div class="page-spinner"></div>
      <span>Loading...</span>
    </div>
  </div>

  <!-- Page wrapper -->
  <main class="page-wrapper">


    <!-- Navbar. Remove 'fixed-top' class to make the navigation bar scrollable with the page -->
    <header class="navbar navbar-expand-lg fixed-top">
      <div class="container">

        <!-- Navbar brand (Logo) -->
        <a class="navbar-brand pe-sm-3" href="/">
          <img src="@logoHeaderSrc" alt="One Fiyah" width="30" height="24" class="d-inline-block align-text-top" />
          <span class="d-none d-sm-inline-block ms-1">@logoText</span>
        </a>


        <!-- Mobile menu toggler (Hamburger) -->
        <button class="navbar-toggler ms-sm-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar collapse (Main navigation) -->
        <nav class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav navbar-nav-scroll ms-auto" style="--ar-scroll-height: 520px;">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" data-bs-toggle="dropdown" aria-expanded="false">About</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/about/history-and-objectives">History & Objectives</a></li>
                <li><a class="dropdown-item" href="/about/executive-board">Executive Board</a></li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/events" aria-expanded="false">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact-us" aria-expanded="false">Contact Us</a>

            </li>

          </ul>
          <ul class="navbar-nav navbar-nav-scroll ms-md-3" style="--ar-scroll-height: 520px;">

            <li class="nav-item d-flex align-items-center">
              <a class="btn px-2" href="@instagram" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" fill="currentColor" class="navbar-nav-svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" /></svg>
              </a>
            </li>
            <li class="nav-item d-flex align-items-center">
              <a class="btn px-2" href="@facebook" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" fill="currentColor" class="navbar-nav-svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z" /></svg>
              </a>
            </li>
            <li class="nav-item d-flex align-items-center">
              <a class="btn px-2" href="@linkedIn" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" fill="currentColor" class="navbar-nav-svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z"/></svg>
              </a>
            </li>
            <li class="nav-item ms-md-3">
              <a class="btn btn-light" href="/join">
                Become a Member
              </a>
            </li>
          </ul>


        </nav>
      </div>
    </header>



    @RenderBody()

  </main>




  <section class="container-fluid" style="background-color: var(--siteBackgroundColor);">


    <section class="container p-5" style="">
      <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            @await Umbraco.RenderMacroAsync("MailingListForm")
        </div>
      </div>
    </section>
  </section>


  <footer class="container-fluid text-bg-dark text-end">
    <section class="container p-5" style="">
      <div class="row">
        <div class="col-4 text-end">
          <img src="@logoFooterSrc" alt="NSBE Professionals Logo" />
          <div class="row mt-3">
            <div class="col text-light">
              <span class="fw-semibold">
                @organizationName
              </span>
              <br />
              <span>
                @organizationAddress1<br />
                @organizationCity, @organizationState @organizationPostalCode
              </span>
            </div>
          </div>
        </div>
        <div class="col-3 offset-2">
          <h4 class="text-bg-dark">@footerNav1Title</h4>
          <ul class="list-unstyled">
             @{ RenderNavItems(footerNav1Items); }
          </ul>
        </div>
        <div class="col-3">
          <h4 class="text-bg-dark">@footerNav2Title</h4>
          <ul class="list-unstyled">
             @{ RenderNavItems(footerNav2Items); }


          </ul>

        </div>
      </div>
    </section>
  </footer>



  <!-- Vendor scripts: JS libraries and plugins -->
  <script src="/theme/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/theme/assets/vendor/simplebar/dist/simplebar.min.js"></script>

  <!-- Bootstrap + Theme scripts -->
  <script src="/theme/assets/js/theme.min.js"></script>

  <script src="/scripts/jquery-1.12.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>
  <script src="/scripts/unobtrustive-validation-extensions.js"></script>


<script>
    $(document).ready(() => {
    const focusElement = document.querySelector(".focus");
    if (focusElement) {
        focusElement.scrollIntoView();
    }
    });
</script>

  @RenderSection("CustomScripts", false)


</body>

</html>


@functions {

  void RenderNavItems(IEnumerable<Link> links)
  {
    @foreach (var link in links)
    {
      <li class="mt-1"><a class="link-light" href="@link.Url">@link.Name</a></li>
    }
  }

}